<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314272674057-4run0eufhovt3lte29s8rt0g1qmb8gl0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314272674057-4run0eufhovt3lte29s8rt0g1qmb8gl0</string>
	<key>API_KEY</key>
	<string>AIzaSyDPIa6vgtViC5Ak11SD1BTm3RMwxHJQx10</string>
	<key>GCM_SENDER_ID</key>
	<string>314272674057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.gone</string>
	<key>PROJECT_ID</key>
	<string>rnone-e5115</string>
	<key>STORAGE_BUCKET</key>
	<string>rnone-e5115.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314272674057:ios:1843cf0f7cd702479c23d8</string>
	<key>DATABASE_URL</key>
	<string>https://rnone-e5115.firebaseio.com</string>
</dict>
</plist>